/*

	Author :Ishrat Amin
	Address: 
	Website: 
	Email  : 
	Version: 1.0

*/

/*******************
    Global CSS
*******************/
body{
	font-family: 'Roboto', sans-serif;
	
	background-color: #f6f7fa;
}


/***********

First Body part css


**********/

.banner-section{
	background:url(../images/banner.png) no-repeat center top;
	background-size: cover;
	height: 900px;
	width: 100%;
	position: relative;
	padding-bottom: 25px;
	background-attachment: fixed;
	
	
}

.logo{
	padding-top: 20px;
}
.text-perfect{
	color: #fff;
	padding-top: 210px;
	
	
}
.text-perfect h1{
	font-weight: 300;
	font-size: 50px;


}

.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
}
.iphone{

	max-height: 650px;
	max-width: 600px;
	position: absolute;
	bottom: 150px;
	right: 90px;
	left: 55px;

}

.body-text{
	padding-top: 50px;
	padding-bottom: 50px;
}

.right-text{
	padding-top: 250px;
	line-height: 30px;
}
.left-text p{
	margin-top: 20px;
	line-height: 30px;
}
.boxgrid{
	
	background-size: cover;
	padding: 0 0;

}
.boxgrid a{
	list-style: none;
	color: #fff;
	font-weight: 700;
	padding-bottom: 50px;
}
.boxgrid a:hover{
	text-decoration: none;

}

.box-grid-1,.box-grid-2,.box-grid-3,.box-grid-4,
.box-grid-7,.box-grid-7,.box-grid-7{
	color: #fff,
	font-weight:300;
	padding: 35px 30px;
	height: 500px;

}
.fa-heart-o{
	padding-left: 245px;
	padding-bottom: 60px;

}
.box-grid-1{
	background: #f5989d;
	color: #fff;
	height: 230px;
	max-width: 100%;
}
.box-grid-2{
	background: #615f7d;
	color: #fff;
	height: 230px;
	max-width: 100%;
}
.box-grid-3{
	background: url(../images/box-grid-3.png) no-repeat center;
	color: #fff;
	height: 230px;
	max-width: 100%;

}
.box-grid-4{
	background: #bd8cbf;
	color: #fff;
	height: 230px;
	max-width: 100%;
}
.box-grid-5{
	background: url(../images/box-grid-5.png) no-repeat center;
	height: 230px;
	color: #fff;
	max-width: 100%;
}
.box-grid-6{
	background: #82ca9c;
	height: 230px;
	color: #fff;
	max-width: 100%;
}
.box-grid-7{
	background: url(../images/box-grid-7.png) no-repeat center;
	height: 230px;
	color: #fff;
	max-width: 100%;
}
/***********

a details look at Part part css


**********/

.details-para-part{
	height: auto;
	padding-bottom: 60px;

}

.a-look-at .details-part h1{
	padding-top: 60px;
	padding-bottom: 50px;
	color: #67676d;
}

.details-para-part .details-para h5{
	color: #67676d;
}
/***********

morepower part css


**********/
.morepower-part{
	background: url(../images/car.png) no-repeat center;
	background-size: cover;
	height: 100%;
	padding-bottom: 80px;
	display: block;
	color: white;
}
.morepower-part a{
	list-style: none;
	color: #fff;
	font-weight: 600;
}

.morepower-part a:hover{
	text-decoration:none;
}

/***********

Reason to get part css


**********/

.reason-box{
	height: auto;
	padding-bottom: 80px;
	background-color: #82ca9c;
}

.reason-text{
	padding: 0px;
	color: #fff;
}

.reason-text h1{
	padding-top: 60px;
	padding-bottom: 35px;

}


/***********

Go-solo team part css


**********/

.go-solo-team{
	height: auto;
	padding-bottom: 160px;
	padding-top:120px;
    background-color: #f6f7fa;

    
}

.go-solo-team-text{
	padding-top: 80px;
}

.go-solo {
	background-color: #f6f7fa;
	padding: 30px 30px;
}

.go-solo .basic-button{
	background-color: #e1e1e1;
	border: none;
	color: #fff;
	border-radius: 5px;
	padding: 30 20px;	
}
.go-solo ul{
	list-style: none;
	padding-left: 0px;
	padding-top: 25px; 
}

.go-solo ul li{
	display: inline;
	padding: 9px;
	}
.go-solo-team .apple{
	color: #e1e1e1;

}

.go-solo-team .windows{
	color: #e1e1e1;
}

.go-solo-team .buy-button{
	background-color: #82ca9c;
	color: white;
	border-radius: 5px;
	padding: 5px;

}
.team-plan{
	background-color: #fff;
	
}

.team-plan{
	padding: 30px 30px;
}
.team-plan .basic-button{
	background-color: #bd8cbf;
	border: none;
	color: #fff;
	border-radius: 5px;
	padding: 30 20px;	
}

.team-plan ul{
	list-style: none;

	padding-left: 0px;
	padding-top: 25px; 
}

.team-plan ul li{
	display: inline;
	padding: 9px;
	}
.team-plan .apple{
	color: #e1e1e1;

}

.team-plan .windows{
	color: #e1e1e1;	
}


.more-power-text{
	padding-top: 250px;
	padding-left: 150px;
	line-height: 30px;
}
.more-power-text h1{
	font-weight: normal;
	padding-bottom: 30px;
	color: #fff;
}
/***********

get in touch part css


**********/
.get-in-touch{
	height: 540px;
	background-color: #192431;
	color: white;
	padding-top: 80px;

}

.get-in-touch-text{
	padding-top: 50px;
}

.get-in-touch-text .touch-right{
	float: right;
	padding-top: 0px;
	padding-left: 80px;


}
.touch-right p{
	font-size: 12px;
	color: #57697f;

}
.touch-row{
	float: left;
	padding-top: 45px;
}
.touch-row .three-row ul{
	list-style: none;
}
input.btn.btn-md {
	    width: 50%;
}
	.touch-right button{
    	width: 15%;
    	background-color: #82CA9C;
	}
/***********

a details look at Part part css


**********/
.footer{
	background-color: #192431;
	color: white; 
}
/*****************
	Media Query
*****************/

@media screen and (max-width: 480px) {

	.text-perfect h1{
		font-weight: 300;
		font-size: 40px;
}

.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.left-text h1{
	font-size: 30px; 
}
.left-text p{
	line-height: 25px;
}
.right-text{
	padding-top: 15px;
	line-height: 25px;
}	

	.iphone {
	    position: absolute;
		top: -173px;
		left: 135px;
		width: 50%;
		max-height: 160px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.touch-row{
		
		font-size: 9px;
		padding-bottom: 18px;
		padding-right: 0px;
	}
	.touch-row{
		padding: 0px 0px;
		margin-right: 0px;
	}
	.three-row{
		padding: 0px 0px 0px 6px;
	}
	.three-row ul{
		padding-left: 15px;
	}

	.box-grid-1,.box-grid-2,.box-grid-3,.box-grid-4,
.box-grid-7,.box-grid-7,.box-grid-7{
	padding: 20px;
	background-size: cover;
}
	.morepower-part h1{
		font-size: 30px;
	}
	.morepower-part p{
		line-height: 16px;

}
.reason-text h1{
	padding-top: 40px;
	padding-bottom: 25px;

}
.reason-text h2{
	padding-top: 25px;
}
.reason-text p{
	padding-bottom: 10px;
}
.go-solo-team{
	padding: 25px 0;

}
.touch-right{
	text-align: left;
}
input.btn.btn-md {
	    width: 70%;

}
	.touch-right button{
    	width: 20%;
    	background-color: #82CA9C;
	}

	.touch-row{
		padding-top: 55px;
		padding-bottom: 55px;
	}
}
@media (min-width: 480px) and (max-width: 640px) {
	.text-perfect h1{
		font-weight: 300;
		font-size: 40px;
}

.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.left-text h1{
	font-size: 30px; 
}
.left-text p{
	line-height: 25px;
}
.right-text{
	padding-top: 15px;
	line-height: 25px;
}	

	.iphone {
	    position: absolute;
		top: -193px;
		left: 215px;
		width: 50%;
		max-height: 210px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.touch-row{
		
		font-size: 11px;
		padding-bottom: 18px;
		padding-right: 0px;
	}
	.touch-row{
		padding: 0px 0px;
		margin-right: 0px;
	}
	.three-row{
		padding: 0px 0px 0px 6px;
	}
	.three-row ul{
		padding-left: 15px;
	}

	.box-grid-1,.box-grid-2,.box-grid-3,.box-grid-4,
.box-grid-7,.box-grid-7,.box-grid-7{
	padding: 20px;
	background-size: cover;
}
	.morepower-part h1{
		font-size: 30px;
	}
	.morepower-part p{
		line-height: 16px;

}
.reason-text h1{
	padding-top: 40px;
	padding-bottom: 25px;

}
.reason-text h2{
	padding-top: 25px;
}
.reason-text p{
	padding-bottom: 10px;
}
.go-solo-team{
	padding: 25px 0;

}
.touch-right{
	text-align: left;
}
input.btn.btn-md {
	    width: 70%;

}
	.touch-right button{
    	width: 20%;
    	background-color: #82CA9C;
	}

	.touch-row{
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.footer p{
		padding-top:10px;
		padding-bottom: 0px;
		margin-left: 0px;
	}
}
@media (min-width:640px) and (max-width: 768px) {
	.text-perfect h1{
		font-weight: 300;
		font-size: 40px;
}

.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.left-text h1{
	font-size: 30px; 
}
.left-text p{
	line-height: 25px;
}
.right-text{
	padding-top: 15px;
	line-height: 25px;
}	

	.iphone {
	    position: absolute;
		top: -263px;
		left: 325px;
		width: 50%;
		max-height: 310px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.get-in-touch-text{
		padding-bottom: 40px;
		padding-top: 20px;
	}
	.touch-row{
		
		font-size: 11px;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-right: 0px;
	}
	
	.three-row{
		padding: 0px 0px 0px 6px;
	}
	.three-row ul{
		padding-left: 15px;
	}

	.box-grid-1,.box-grid-2,.box-grid-3,.box-grid-4,
.box-grid-7,.box-grid-7,.box-grid-7{
	padding: 20px;
	background-size: cover;
}
	.morepower-part h1{
		font-size: 30px;
	}
	.morepower-part p{
		line-height: 16px;

}
.reason-text h1{
	padding-top: 40px;
	padding-bottom: 25px;

}
.reason-text h2{
	padding-top: 25px;
}
.reason-text p{
	padding-bottom: 10px;
}
.go-solo-team{
	padding: 25px 0;

}
.touch-right{
	text-align: left;
	padding-top: 50px;
}
input.btn.btn-md {
	    width: 70%;


}
	.touch-right button{
    	width: 10%;
    	background-color: #82CA9C;
	}

	.touch-row{
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.footer p{
		padding-top:10px;
		padding-bottom: 0px;
		margin-left: 0px;
	}
}

@media (min-width:768px) and (max-width:990px){
	.text-perfect h1{
		font-weight: 300;
		font-size: 40px;
}


.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.left-text h1{
	font-size: 30px; 
}
.left-text p{
	line-height: 25px;
}
.right-text{
	padding-top: 15px;
	line-height: 25px;
}	

	.iphone {
	    position: absolute;
		top: -263px;
		left: 325px;
		width: 50%;
		max-height: 310px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.get-in-touch-text{
		padding-bottom: 40px;
		padding-top: 20px;
	}
	.touch-row{
		
		font-size: 11px;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-right: 0px;
	}
	
	.three-row{
		padding: 0px 0px 0px 6px;
	}
	.three-row ul{
		padding-left: 15px;
	}
.box-grid-3{
	width: 50%;
	background-size: cover;
}
	
.box-grid-5{
	
	width: 100%;
	background-size: cover;
}
	.morepower-part h1{
		font-size: 30px;
	}
	.morepower-part p{
		line-height: 16px;

}
.reason-text h1{
	padding-top: 40px;
	padding-bottom: 25px;

}
.reason-text h2{
	padding-top: 25px;
}
.reason-text p{
	padding-bottom: 10px;
}
.go-solo-team{
	padding: 25px 0;

}
.three-row{
	padding-right: 0px;
}
.touch-right{
	text-align: left;
	padding-top: 50px;
}
input.btn.btn-md {
	    width: 70%;


}
	.touch-right button{
    	width: 10%;
    	background-color: #82CA9C;
	}

	.touch-row{
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.footer p{
		padding-top:10px;
		padding-bottom: 0px;
		margin-left: 0px;
	}
}
@media (min-width:990px) and (max-width:1200px){
	.text-perfect h1{
		font-weight: 300;
		font-size: 40px;
}


.text-perfect p{

	padding-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.left-text h1{
	font-size: 30px; 
}
.left-text p{
	line-height: 25px;
}
.right-text{
	padding-top: 15px;
	line-height: 25px;
}	

	.iphone {
	    position: absolute;
		top: -363px;
		left: 65px;
		width: 60%;
		max-height: 410px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	}
	.get-in-touch-text{
		padding-bottom: 40px;
		padding-top: 20px;
	}
	.touch-row{
		
		font-size: 11px;
		padding-bottom: 18px;
		padding-top: 18px;
		padding-right: 0px;
	}
	
	.three-row{
		padding: 0px 0px 0px 6px;
	}
	.three-row ul{
		padding-left: 15px;
	}
.box-grid-3{
	width: 50%;
	background-size: cover;
}
	
.box-grid-5{
	
	width: 100%;
	background-size: cover;
}
	.morepower-part h1{
		font-size: 30px;
	}
	.morepower-part p{
		line-height: 16px;

}
.reason-text h1{
	padding-top: 40px;
	padding-bottom: 25px;

}
.reason-text h2{
	padding-top: 25px;
}
.reason-text p{
	padding-bottom: 10px;
}
.go-solo-team{
	padding: 25px 0;

}
.three-row{
	padding-right: 0px;
}
.touch-right{
	text-align: left;
	padding-top: 50px;
}
input.btn.btn-md {
	    width: 70%;


}
	.touch-right button{
    	width: 10%;
    	background-color: #82CA9C;
	}

	.touch-row{
		padding-top: 55px;
		padding-bottom: 55px;
	}
	.footer p{
		padding-top:10px;
		padding-bottom: 0px;
		margin-left: 0px;
	}

}